<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Nick:</b>
  <%= @user.nick %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Language:</b>
  <%= @user.language %>
</p>

<p>
  <b>Timezone:</b>
  <%= @user.timezone %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
